.principal{
    display: block;
    font-size: 30px;
    margin-block-start: 6%;
    margin-block-end: 6%;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
    font-weight: bold;
    
}
.comeco{
    text-decoration: none;
    color: black;
    background-image:linear-gradient(black, white);
    padding-top: 7px;
    padding: 3px;
    font-family: "courier new";
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    border-radius: 12px;
    width: 12%;
}
.text{
    background-size: contain;
    padding-top: 10px;
    font-family: "courier new";
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;

}
.image{
    background-size: contain;
    padding-top: 17px;
    font-family: "courier new";
    display: flex;
    flex-direction: column;
    align-items: center;

}


    .coluna1{
        height: 100%; 
        margin:0px 40px;
        width: 10% 12%; 
        align-items:center;
        padding:0px 0px;
     }

        .coluna2{
            margin:0px 40px;
            align-items:center;
        }
        .content{
            text-decoration: none;
            width: 0px 50px;
            display: flex;
            flex-grow: column;
            margin: 3% 20px;
            padding: 10px;
            justify-content: space-around;
            text-align: center;
            border-radius:20px;
            
        }
        .category{
            background-color: pink ;
        }
        .category1{
            background-color: rgb(255, 212, 219);
            padding-top: 10px;
            font-family: "courier new";
            display: flex;
            flex-direction: column;
            align-items: right;
            margin-top: 0px;
            border-radius: 12px;
        }
        .category1 a{
            text-decoration: none;
            color: black;

        }
        label{
            padding:5px;
        }
        .curso{
            font-size: 26px;
            padding-top: 6px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color:rgb(3, 0, 0);
            background-color: rgb(243, 32, 67);
    

        }
        .category0{
            background-color: rgb(255, 124, 146) ;
        }
        .category2{
            background-color:rgb(250, 137, 156) ;
        }
        .category3{
            background-color: rgb(250, 157, 172) ;
        }
        .category4{
            background-color:  rgb(255, 183, 191) ;
        }
        .category5{
            background-color: rgb(255, 211, 218) ;
        }
        .img{
            height:40%;
            margin-left: 34%;
            margin-top:-5%;
            margin-block-end: 1%;;
        }